.wrapper-index {
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
    padding: 16px 16px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 50%;

    justify-items: center;
    #map {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        height: 100vh !important;
    }
    .index-search {
        grid-row-gap: 10px;
        display: subgrid;
        justify-self: stretch;
        .index-search-result {
            border-radius: 3px;
            display: grid;
            grid-column-gap: 16px;
            padding: 16px 16px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            height: 230px;
            margin-bottom: 20px;
            justify-self: stretch;
            justify-items: stretch;
            grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
            grid-template-rows: 1fr 1fr 1fr  ;
            grid-template-areas:
            "image image title title avatar"
            "image image address address avatar"
            "image image description description description "
            "image image price . review";
            .result-avatar {
                justify-self: center;
                align-self: center;
                img {
                    border-radius: 18%;
                    box-shadow: 0 0 5px rgba(0,0,0,0.3);
                }
            }
            .result-title {
                align-self: center;
                a {
                    color: black;
                    font-size:25px;
                    opacity: 0.7;
                    font-weight: bold;
                    &:hover {
                        color: rgb(74,119,47);
                    }
                }
            }
            .result-description {
                align-self: start;
                a {
                  padding-bottom: 5px;

                }
            }
            .result-review {
                justify-self: center;
                align-self: center;
                border-radius: 50%;
                p {
                    font-size: 24px;
                    font-weight: bold;
                    padding: 16px 16px;
                }
            }
            .result-price {
                align-self: center;
                p {
                    font-size: 18px;
                    // font-weight: bold;
                }
            }
        }
    }
}
.index-button {
    display: block;
    width: 300px;
    margin: 100px auto;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    font-size: 24px;
    background: #4A772F;
    padding: 10px 10px;
    a {
      text-decoration: none;
        color: white;
    }
}
.result-image {
    grid-area: image;
    border-radius: 3%;
    max-height:190px;
}
.result-title {
    grid-area: title;
}
.result-description {
    grid-area: description;
    font-size: 15px;
}
.result-avatar {
    grid-area: avatar;
}
.result-address {
    grid-area: address;
    font-size: 20px;
}
.result-price {
    grid-area: price;
}
.result-review {
    grid-area: review;
}
.wrapper-weather {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  height: 265px;
  ul {
    display: flex;
    .weather-box {
       display:block;
       width:300px;
       height:170px;
       padding: 5px;
       border: 0.5px solid lightgray;
       margin: 1px;
    }
  }
}
