.wrapper-index {
	min-height: 100vh;
	background: rgba(255,221,0, 0.2);
	.cards-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}
	.index-button {
		width: 300px;
		margin-top: 100px;
		border: none;
		border-radius: 4px;
		line-height: 1.5;
		font-size: 24px;
		background: rgba(74,119,47, 0.6);
		padding: 10px 10px;
		box-shadow: 0 0 10px rgba(255,221,0,0.5);
		a {
			text-decoration: none;
			color: rgb(255,221,0);
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
}