.wrapper-index {
	border: 1px solid red;
	min-height: 100vh;
	width: 1400px;
	margin: 0 auto;
	background: rgba(255,221,0, 0.2);
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: 7fr 5fr;
	justify-items: center;
	.index-search {
		border: 1px solid black;
		justify-self: stretch;
		display: subgrid;
		justify-items: center;
		grid-auto-flow: row;
		.index-search-result {
			border: 1px solid blue;
			height: 200px;
			justify-self: stretch;
			justify-items: stretch;
			display: grid;
			grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas:
			"image image title title avatar"
			"image image description description description "
			"image image price . review";
		}
	}
}

.index-button {
		width: 300px;
		margin-top: 100px;
		border: none;
		border-radius: 4px;
		line-height: 1.5;
		font-size: 24px;
		background: rgba(74,119,47, 0.6);
		padding: 10px 10px;
		box-shadow: 0 0 10px rgba(255,221,0,0.5);
		a {
			text-decoration: none;
			color: rgb(255,221,0);
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}

	.result-image {
		grid-area: image;
	}
	.result-title {
		grid-area: title;
	}
	.result-description {
		grid-area: description;
	}
	.result-avatar {
		grid-area: avatar;
	}
	.result-price {
		grid-area: price;
	}
	.result-review {
		grid-area: review;
	}

	.wrapper-weather {
		border: 1px solid black;
		display: flex;
		justify-content: center;
		align-items: center;
	}

