<div class="text-center" style="min-height: 70vh">
  <h2>Book your Tree</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for [@tree, @booking] do |f|%>
        <%= f.input :date_check_in, as: :date, label: "Check In Date", placeholder: "Check In Date" %>
        <%= f.input :date_check_out, as: :date, label: "Check Out Date", placeholder: "Check Out Date" %>
        <%= f.button :submit, "Book", class: "btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>






