<div class="footer">
	<div class="footer-icons">
		<a href="#"><i class="fab fa-github"></i></a>
		<a href="#"><i class="fab fa-instagram"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-linkedin"></i></a>
	</div>
	<div class="footer-links">
		<ul>
			<li>Discover</li>
			<li><a href="#">Gift Cards</a></li>
			<li><a href="#">TreeBnB Squirrels</a></li>
		</ul>
		<ul>
			<li>TreeBnB</li>
			<li><a href="#">Jobs</a></li>
			<li><a href="#">Investor Relations</a></li>
		</ul>
		<ul>
			<li>Hosting</li>
			<li><a href="#">Why Host</a></li>
			<li><a href="#">Hospitality</a></li>
			<li><a href="#">Community Center</a></li>
		</ul>
	</div>
</div>
