<div class="container">
	<div class="row">
<% @trees.each do |tree| %>
 <div class="col-xs-12 col-sm-4">
      <div class="cards">
        <div class="card-image">


<% if tree.photos.first %>
<%= cl_image_tag tree.photos.first.path, { size: '300x300', crop: :scale} %>
<% end %>

      </div>
      <div class="card-footer">
       <%= link_to tree.location, tree_path(tree) %>
       <p> <%= tree.price_per_night %> $ </p>
        <p> <i class="fa fa-heart"></i></p>
     </div>
   </div>
 </div>
 <% end %>
</div>
</div>

<%= link_to '+Add a new tree', new_tree_path, class: "btn btn-default btn-success" %>





