<div class="banner" style="background-image: linear-gradient(-225deg, #3c763dad 0%, rgba(95, 63, 23, 0.6) 50%), url('https://images.pexels.com/photos/531323/pexels-photo-531323.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');">
  <div class="banner-content">
    <h1>Rent awesome trees around the world</h1>
    <p>place for searching form</p>
    
  </div>
</div>



;