<div class="homepage-form">
	<form action="/trees">
		<div class="search-box">
			<label for="search"></label>
			<input type="text" id="search" placeholder="Enter your dream city" name="search">
		</div>
		<div class="search-button">
			<input type="submit" value="Search">
		</div>
	</form>
</div>