.cards {
	text-decoration: none;
	margin: 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	height: 300px;
	width: 300px;
	border-radius: 4px;
	position: relative;
	.card-image {
		width: 100%;
		height: 200px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		a {
			position: absolute;
			top: 5%;
			left: 10%;
			color: rgb(74,119,47);
			opacity: 0.8;
			font-size: 24px;
			font-weight: bold;
			text-decoration: none;
			margin: 0;
			line-height: 1;
			padding: 0;
			&:hover {
				opacity: 1;
			}
		}
	}
	.card-footer {
		height: 100px;
		display: flex;
		justify-content: space-between;
		p {
			position: absolute;
			bottom: 5%;
			left: 10%;
			margin: 0;
			padding: 10px;
			border: 1px solid black;
			border-radius: 50%;
			&:hover {
				color: red;
				border: 1px solid red;
			}
		}
		i {
			color: rgba(0,0,0,0.5);
			position: absolute;
			bottom: 5%;
			right: 10%;
			padding: 15px;
			border: 1px solid black;
			border-radius: 50%;
			&:hover {
				color: red;
				cursor: pointer;
				border: 1px solid red;
			}
		}
	}
}
